.userBoarding-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}
.userBoarding-heading{
    color: white;
   
    border-radius: 5px;
    padding: 16px;

    
}
.input{
    margin: 16px;
    padding: 30px 26px ;
    height: 5px;
    width: 500px;
    font-size: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #e7e5e4;
    border-bottom: 2px solid white;
    box-shadow: -2px 2px 17px -3px rgba(0,0,0,0.67);
}

.input:focus{
    border-bottom: 2px solid #fbbf24;
}
.btn{
    height: 40px;
    width: 140px;
    padding: 8px;
    margin: 16px;
    font-size: 20px;
    cursor: pointer;
    background-color: #fbbf24;
    color: #f1f5f9;
    border: none;
    border-radius: 9px;
    box-shadow: -2px 2px 17px -3px rgba(0,0,0,0.67);

}